body, html {
    background-image: url(../img/wp2172683.jpg);
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-size: cover;
    margin: 0;
}



.container {
    background: transparent;
    text-align: center;
   /* border: solid;*/
}

.jumbotron {
    color: white;
    background: transparent;
    text-align: center;
    /*border: solid;*/
    padding-top: 0px;
    padding-bottom: 0px;
}


.jumbotron.jumbotron-fluid{
    padding-top: 0px;
    padding-bottom: 0px;

}
.card {
    background: transparent;
    /*border: solid;*/

}
.card-header{
    background: transparent;
    color: olivedrab;
}

.btn-group-vertical{

    color: white;
    border: white;
    border-width: 1px;
    outline: white;
    align-content: baseline;
    /*border: solid;*/
}

.btn {
    outline: white;
    text-align: start;
    padding-left: 20%;
    font-size: larger;
}

.btn-sm{

    outline: white;
    text-align: center;
    padding-left: 5px;
    font-size: medium;
}

#navTabA{
    padding: 0;

}

#list-ingredient{
    padding: 10px;
height: 50px;
}

#search-container{
    /*width: 50%;*/
  /*  margin: auto;*/
margin-bottom: auto;
margin-top: auto;
}

.form-control{
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border: 1px white;
}
.content-container{
    border: 1px solid white;
    border-radius: .25rem;


}

a:-webkit-any-link {

    color: olivedrab;
    cursor: pointer;
}


.list-group-item{
    background: transparent;
}

.btn-primary{
    background-color: darkolivegreen;
    border-color: olivedrab;
}
.btn-primary:hover {
    background-color: olivedrab !important;
}

ul {
    list-style-type: none;
}

.list-group-item{

    padding:0;

}

.title{
    margin-bottom: 0;
}

#edit-buttons-single-view{
    margin: auto; padding-top: 24px; padding-bottom: 24px;
}


.x-favourite {

    padding-left: 5px;
    display: none;
}


#new-drink{
    cursor: pointer;

}
/*


!* Favorite star *!

label {
    !* Presentation *!
    font-size: 40px
}

!* Required Styling *!


.custom-checkbox {
    !*margin-left: 2em;*!
    position: relative;
    cursor: pointer;
}

.custom-checkbox .glyphicon {
    color: gold;
    position: absolute;
    top: -0.4em;
    left: -0.6em;
    font-size: 0.75em;
}

.custom-checkbox .glyphicon-star-empty {
    color: gray;
}

.custom-checkbox .glyphicon-star {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.custom-checkbox:hover .glyphicon-star{
    opacity: 0.5;
}

.custom-checkbox input[type="checkbox"]:checked ~ .glyphicon-star {
    opacity: 1;
}

*/
