body, html {
    background-image: url(../img/46283.jpg);
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-size: cover;
    margin: 0;
}



.container {
    background: transparent;
    text-align: center;
    /* border: solid;*/
}

.jumbotron {
    color: white;
    background: transparent;
    text-align: center;
    /*border: solid;*/
}

.card {
    background: transparent;
    /*border: solid;*/

}
.card-header{
    background: transparent;
    color: olivedrab;
}

.btn-group-vertical{
    text-align-all: left;
    color: white;
    border: white;
    border-width: 1px;
    outline: white;
    align-content: baseline;
    /*border: solid;*/
}

.btn {
    outline: white;
}

#navTabA{
    padding: 0;

}

#list-todo{
    padding: 5px;
    height: 50px;
}

#search-container{
    width: 50%;
    margin: auto;


}

.form-control{
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border: 1px white;
}
.content-container{
    border: 1px solid white;
    border-radius: .25rem;


}

a:-webkit-any-link {

    color: olivedrab;
    cursor: pointer;
}


.list-group-item{
    background: transparent;
}

.btn-primary{
    background-color: darkolivegreen;
    border-color: olivedrab;
}
.btn-primary:hover {
    background-color: olivedrab !important;
}